/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Rock+Salt&family=Sail&family=Satisfy&family=Sriracha&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}



/* Cabeçalho */
.cabecalho {
    background-color: #ffffff;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho-nome-loja {
    color: #FF72A5;
    font-weight: bold;
    font-size: 3.5vw;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.8vw;
    align-items: center;
}

.cabecalho-icone {
    height: 5.5vw;
}

.cabecalho-menu {
    display: flex;
    gap: 2vw;
}

.cabecalho-menu-item, .check-btn {
    color: #FF72A5;
    text-transform: uppercase;
    padding: 1.6vw;
    border-radius: 1vw;
    text-align: center;

}

.cabecalho-menu-item:hover, .check-btn:hover {
    background-color: rgb(	255, 202, 227, 0.45);
    cursor: pointer;
    transition: .5s;
}

/* Botão Barra de Navegação*/
.check-btn, #check {
    display: none;
    font-size: 5vw;
    align-self: center;
}


/* Página Principal */
.principal {
    background: linear-gradient(180deg, #FF72A5 0%, #FFA7C1 100%);
    padding: 3vw;
}



/* Seção Primária */
.secao-primaria {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1vw;
}

.secao-primaria-div {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 4vw;
    align-items: center;
}

.secao-primaria-titulo {
    font-family: 'Satisfy', cursive;
    font-size: 7.5vw;
    justify-items: center;
}
.secao-primaria-subtitulo {
    font-size: 3vw;
}
.secao-primaria-botao {
    background-color: #ffffff;
    padding: 2vw;
    color: #FF72A5;
    font-weight: bolder;
    font-size: 1.5vw;
    border-radius: 9vw;
    border: unset;
    box-shadow: 0.1vw 0.1vw 2vw 0.2vw #ffcddf;
    width: 12.5vw;
}

.secao-primaria-botao:hover {
    background-color: rgba(255, 208, 230, 0.9);
    cursor: pointer;
    color: #ff3c84;
    transition: .2s;
}

.secao-primaria-imagem {
    height: 38vw;
    border-radius: 10vw;
    box-shadow: 0.1vw 0.1vw 2vw 0.2vw #ffd1e2;
}



/* Seção Secundária */
.secao-secundaria {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 7vw;
    gap: 5vw;
    padding: 5vw;
}

.secao-secundaria-imagem {
    height: 35vw;
    border-radius: 6vw;
    box-shadow: 0.1vw 0.1vw 2vw 0.2vw #fd74a6;
}

.secao-secundaria-texto {
    color: #fff5f5;
    font-size: 3.8vw;
    text-align: center;
    background: rgba(255, 170, 197, 0.3);
    box-shadow: 0.1vw 0.1vw 2vw 0.2vw #fc81ae;
    padding: 9vw;
    border-radius: 6vw;
}



/* Seção Terciária */
.secao-terciaria {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5vw;
    padding: 5vw;
}

.secao-terciaria-texto {
    color: #fff5f5;
    font-size: 3.8vw;
    text-align: center;
    background: rgba(255, 155, 187, 0.3);
    box-shadow: 0.1vw 0.1vw 2vw 0.2vw #fc85b0;
    padding: 8.232vw;
    border-radius: 6vw;
}

.secao-terciaria-imagem {
    height: 35vw;
    border-radius: 6vw;
    box-shadow: 0.1vw 0.1vw 2vw 0.2vw #fd74a6;
}



/* Rodapé */
.rodape {
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vw;
}

.rodape-texto {
  color: #ff3c84;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1vw;
  font-size: 85%;
}

.rodape-texto-link {
  color: #ff3c84;
}

.rodape-icones {
    display: flex;
    gap: 1.5vw;
    color: #ff3c84;
}

#rodape-icone {
    color: #ffffff;
    background-color:#ff9dba;
    padding: 0.8vw;
    border-radius: 8vw;
}

#rodape-icone:hover {
    cursor: pointer;
    background-color:#fd74a6;
}


@media (max-width: 700px) {
    /*Barra de navegação pelo check*/
    .check-btn {
        display: block;
    }

    ul {
        background-color: rgb(255, 255, 255, .92);
        position: absolute;
        left: 0;
        width: 60%;
        height: 70%;
        display: flex;
        flex-direction: column;
        padding: 5vw;
        gap: 2vw;
        bottom: 100%;
    }

    .cabecalho-menu-item {
        color: rgb(255, 139, 174);
    }

    #check:checked ~ ul {
        bottom: 0;
        top: 12%;
    }


    /*Tamanho do nome da loja*/
    .cabecalho-nome-loja {
        font-size: 7.5vw;
    }

    .cabecalho-icone {
        height: 12vw;
    }

}