/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Rock+Salt&family=Sail&family=Satisfy&family=Sriracha&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}



/* Cabeçalho */
.cabecalho {
    background-color: #ffffff;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho-nome-loja {
    color: #FF72A5;
    font-weight: bold;
    font-size: 3.5vw;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.8vw;
    align-items: center;
}

.cabecalho-icone {
    height: 5.5vw;
}

.cabecalho-menu {
    display: flex;
    gap: 2vw;
}

.cabecalho-menu-item {
    color: #FF72A5;
    text-transform: uppercase;
    padding: 1vw;
    border-radius: 1vw;
    text-align: center;
}

.cabecalho-menu-item:hover {
    background-color: rgb(	255, 202, 227, 0.45);
}



/* Página Principal */
.principal {
    background: linear-gradient(180deg, #FF72A5 0%, #FFA7C1 100%);
    padding: 3vw;
}



/* Seção Primária */
.secao-primaria {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1vw;
}

.secao-primaria-div {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 4vw;
    align-items: center;
}

.secao-primaria-titulo {
    font-family: 'Satisfy', cursive;
    font-size: 7.5vw;
    justify-items: center;
}
.secao-primaria-subtitulo {
    font-size: 3vw;
}
.secao-primaria-botao {
    background-color: #ffffff;
    padding: 2vw;
    color: #FF72A5;
    font-weight: bolder;
    font-size: 1.5vw;
    border-radius: 9vw;
    border: unset;
    box-shadow: 0.1vw 0.1vw 2vw 0.2vw #ffcddf;
    width: 12.5vw;
}

.secao-primaria-botao:hover {
    background-color: rgba(255, 208, 230, 0.9);
    cursor: pointer;
    color: #ff3c84;
}

.secao-primaria-imagem {
    height: 38vw;
    border-radius: 10vw;
    box-shadow: 0.1vw 0.1vw 2vw 0.2vw #ffd1e2;
}



/* Seção Secundária */
.secao-secundaria {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 7vw;
    gap: 5vw;
    padding: 5vw;
}

.secao-secundaria-imagem {
    height: 35vw;
    border-radius: 6vw;
    box-shadow: 0.1vw 0.1vw 2vw 0.2vw #fd74a6;
}

.secao-secundaria-texto {
    color: #fff5f5;
    font-size: 3.8vw;
    text-align: center;
}



/* Seção Terciária */
.secao-terciaria {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5vw;
    padding: 5vw;
}

.secao-terciaria-texto {
    color: #fff5f5;
    font-size: 3.8vw;
    text-align: center;
}

.secao-terciaria-imagem {
    height: 35vw;
    border-radius: 6vw;
    box-shadow: 0.1vw 0.1vw 2vw 0.2vw #fd74a6;
}



/* Rodapé */
.rodape {
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vw;
}

.rodape-texto {
  color: #ff3c84;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1vw;
  width: 60vw;
}

.rodape-texto-link {
  color: #ff3c84;
}

.rodape-icones {
    display: flex;
    gap: 1.5vw;
}

.rodape-icones:hover {
    cursor: pointer;
}
